.about {
  padding-top: 125px;
  padding-bottom: 100px;
}

.about__container {
  position: relative;

  display: flex;
}

.about__container span {
  font-family: $ff-roboto-condensed;
  font-size: 156px;
  line-height: 120px;
  font-weight: 700;
  color: transparent;
}

.about__year {
  position: absolute;
  top: 80px;
  left: -20px;

  background-clip: text;
  background-image: url("../../img/main/mask.png");
  transform: rotate(-90deg);

  @include vp-767 {
    display: none;
  }
}

.about__company {
  padding-left: 250px;

  &-first {
    padding-bottom: 30px;
  }

  &-indent {
    padding-top: 30px;
  }

  &-hide {
    display: none;
  }

  @include vp-374 {
    &-mobile {
      display: none;
    }
  }

  @include vp-1023 {
    padding-left: 179px;
  }

  @include vp-767 {
    padding-left: 0;
  }
}

.about__company h2 {
  margin: 0;
  padding-bottom: 15px;

  font-family: $ff-roboto-condensed;
  font-size: 36px;
  line-height: 51px;
}

.about__company p {
  margin: 0;

  line-height: 22px;
}

.about__button {
  margin-top: 20px;
  padding: 12px 50px;

  font-family: $ff-roboto-condensed;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #00b2ff;

  border: 1px solid #00b2ff;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
}
