.footer-sections {
  grid-area: sections;

  padding-top: 5px;

  @include vp-1279 {
    max-width: 220px;

    padding-top: 40px;
  }

  @include vp-767 {
    max-width: 100%;

    padding: 0;

    border-top: 1px solid #afb8be;
  }
}

.footer-sections h2 {
  font-family: $ff-roboto-condensed;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.footer-sections__title {
  position: relative;

  margin: 0;

  @include vp-767 {
    padding: 21px 25px;

    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      right: 25px;
      top: 27px;

      width: 15px;
      height: 1px;

      background-color: #afb8be;
    }
  }
}

.footer-sections__container {
  display: flex;

  padding-top: 20px;

  @include vp-1279 {
    flex-direction: column;

    padding-top: 22px;
  }

  @include vp-767 {
    padding: 0 25px 20px;
  }
}

.footer-sections__list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  &--first {
    min-width: 220px;
    margin-right: 24px;
  }

  &--last {
    margin-right: 125px;
  }

  @include vp-1279 {
    margin-right: 0;

    &--last {
      padding-top: 0;
    }
  }
}

.footer-sections__item {
  padding-top: 10px;

  line-height: 22px;

  &:nth-child(1) {
    padding-top: 0;
  }

  @include hover {
    & a {
      color: #ffffff;
    }
  }

  @include active {
    opacity: 0.3;
  }

  @include vp-1023 {
    padding-top: 9px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }
}
