.header {
  position: fixed;
  z-index: 5;
  width: 100%;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);

  @include vp-1023 {
    position: absolute;
  }
}

.header__container {
  display: grid;
  grid-template-columns: 374px 1fr;

  @include vp-1439 {
    grid-template-columns: 300px 1fr;
    justify-content: space-between;
  }

  @include vp-1279 {
    grid-template-columns: 290px 1fr;
    flex-basis: auto;
  }

  @include vp-767 {
    grid-template-columns: 159px 1fr;
    flex-basis: auto;
  }
}

.header__container ul {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style-type: none;

  @include vp-1439 {
    justify-content: end;
  }
}

.header__container li {
  padding-top: 40px;
  padding-bottom: 35px;

  &:last-child {
    padding-top: 34px;
  }

  @include vp-1023 {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  @include vp-767 {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

.header__item-logo {
  @include vp-1279 {
    flex-grow: 2;
  }
}

.header__email {
  position: relative;

  display: flex;
  align-items: center;

  margin-bottom: 10px;
  margin-right: 117px;
  padding: 5px 5px 5px 35px;

  @include hover {
    & svg {
      fill: #93deff;
    }
  }

  @include active {
    opacity: 0.6;
  }

  @include vp-1439 {
    margin-right: 70px;
  }

  @include vp-1279 {
    margin-right: 40px;
  }

  @include vp-1023 {
    justify-content: center;

    width: 40px;
    height: 40px;
    margin-right: 20px;
    padding: 0;
  }
}

.header__email span {
  line-height: 18px;
  color: #f2f5f6;

  @include vp-1023 {
    display: none;
  }
}

.header__email svg {
  position: absolute;
  left: 0;
  fill: #00b2ff;

  @include vp-1023 {
    position: relative;
  }
}

.header__phone {
  position: relative;

  display: flex;
  align-items: center;

  margin-bottom: 10px;
  margin-right: 160px;
  padding: 5px 5px 5px 35px;

  @include hover {
    & svg {
      fill: #93deff;
    }
  }

  @include active {
    opacity: 0.6;
  }

  @include vp-1439 {
    margin-right: 70px;
  }

  @include vp-1279 {
    margin-right: 40px;
  }

  @include vp-1023 {
    justify-content: center;

    width: 40px;
    height: 40px;
    margin-right: 20px;
    padding: 0;
  }

  @include vp-767 {
    margin-right: 0;
  }
}

.header__phone span {
  line-height: 18px;
  color: #f2f5f6;

  @include vp-1023 {
    display: none;
  }
}

.header__phone svg {
  position: absolute;
  left: 0;
  fill: #00b2ff;

  @include vp-1023 {
    position: relative;
  }
}

.header__button {
  max-width: 161px;

  margin-right: 60px;
  padding: 12px 16px;

  border: 1px solid #f2f5f6;
  border-radius: 3px;
  background-color: transparent;

  font-family: $ff-roboto-condensed;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #f2f5f7;

  user-select: none;
  cursor: pointer;

  @include hover {
    border-color: #00b2ff;
    background-color: #00b2ff;
  }

  @include hover-focus {
    background-color: #00b2ff;
  }

  @include active {
    opacity: 0.6;
  }

  @include vp-1439 {
    margin-right: 20px;
  }

  @include vp-1023 {
    display: none;
  }
}
