.header {
  position: fixed;
  z-index: 5;
  width: 100%;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
}

.header__container {
  display: flex;
  align-items: center;

  padding-top: 30px;
  padding-bottom: 35px;

  @include vp-1439 {
    justify-content: space-between;

    padding-top: 20px;
    padding-bottom: 25px;
  }

  @include vp-1279 {
    flex-basis: auto;
  }

  @include vp-767 {
    padding-top: 15px;
    padding-bottom: 20px;
  }
}

.header__email {
  position: relative;

  display: flex;
  align-items: center;

  margin-right: 30px;
  padding-right: 60px;
  padding-left: 35px;

  @include vp-1279 {
    justify-content: center;

    width: 40px;
    height: 40px;
    margin-right: 20px;
    padding: 0;
  }
}

.header__email span {
  line-height: 18px;
  color: #f2f5f6;

  @include vp-1279 {
    display: none;
  }
}

.header__email svg {
  position: absolute;
  left: 0;

  @include vp-1279 {
    position: relative;
  }
}

.header__phone {
  position: relative;

  display: flex;
  align-items: center;

  margin-right: 145px;
  padding-right: 40px;
  padding-left: 35px;

  @include vp-1279 {
    justify-content: center;

    width: 40px;
    height: 40px;
    margin-right: 40px;
    padding-right: 0;
    padding-left: 0;
  }

  @include vp-1279 {
    margin-right: 20px;
  }

  @include vp-767 {
    margin-right: 0;
  }
}

.header__phone span {
  line-height: 18px;
  color: #f2f5f6;

  @include vp-1279 {
    display: none;
  }
}

.header__phone svg {
  position: absolute;
  left: 0;

  @include vp-1279 {
    position: relative;
  }
}

.header__button {
  padding: 10px 15px;

  border: 1px solid #f2f5f6;
  border-radius: 3px;
  background-color: transparent;

  font-family: $ff-roboto-condensed;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f2f5f6;

  cursor: pointer;

  @include vp-1023 {
    display: none;
  }
}
