.questions {
  position: relative;
  background: #00b3ff;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    z-index: 0;
    width: 52%;
    height: 100%;
    background-color: #026593;
    clip-path: polygon(100% 0, 0 0, 0 100%);
  }

  @include vp-1023 {
    &::before {
      display: none;
    }
  }
}

.questions__container {
  max-width: 590px;
  margin-left: auto;

  &::before {
    content: "";
    background-image: url("../img/main/paper-airplane.png");
    position: absolute;
    left: 4%;
    top: 250px;
    background-size: 510px 285px;
    width: 510px;
    height: 285px;

    @include retina {
      content: "";
      background-image: url("../img/main/paper-airplane@2x.png");
    }
  }

  @include vp-1279 {
    &::before {
      left: 12%;
      top: 250px;
      background-size: 255px 142px;
      width: 255px;
      height: 142px;
    }
  }

  @include vp-1023 {
    max-width: 670px;
    margin: 0 auto;

    &::before {
      display: none;
    }
  }
}

.questions__container h2 {
  font-family: $ff-roboto-condensed;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  color: #ffffff;

  @include vp-767 {
    font-size: 30px;
    line-height: 42px;
  }
}

.questions__container p {
  line-height: 22px;
  color: #ffffff;

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }
}

.questions__title {
  margin: 0;
  padding-top: 165px;

  @include vp-1023 {
    padding-top: 45px;
  }

  @include vp-767 {
    padding-top: 47px;
  }
}

.questions__free {
  margin: 0;
  padding-top: 12px;

  @include vp-1023 {
    padding-top: 5px;
  }

  @include vp-767 {
    padding-top: 7px;
  }
}
